<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ErrorLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Error/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Error'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="AppointmentLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Appointment/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Appointment'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="CustomerVehicleLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/CustomerVehicle/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'CustomerVehicle'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="EmployeeLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Employee/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Employee'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="JobLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Job/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Job'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="MessageLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Message/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Message'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="PackageCodeLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/PackageCode/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'PackageCode'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="PartsLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Part/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Part'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="RepairOrderLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/RepairOrder/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'RepairOrder'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="PriceLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Price/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Price'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <appender name="PrintLogger" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="./Log/Print/" />
      <param name="Encoding" value="utf-8" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="'Print'_yyyy-MM-dd.'log'" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date : [%thread] %message%newline" />
      </layout>
    </appender>
    <logger name="ErrorLogger">
      <level value="ALL" />
      <appender-ref ref="ErrorLogger" />
    </logger>
    <logger name="AppointmentLogger">
      <level value="ALL" />
      <appender-ref ref="AppointmentLogger" />
    </logger>
    <logger name="CustomerVehicleLogger">
      <level value="ALL" />
      <appender-ref ref="CustomerVehicleLogger" />
    </logger>
    <logger name="EmployeeLogger">
      <level value="ALL" />
      <appender-ref ref="EmployeeLogger" />
    </logger>
    <logger name="JobLogger">
      <level value="ALL" />
      <appender-ref ref="JobLogger" />
    </logger>
    <logger name="MessageLogger">
      <level value="ALL" />
      <appender-ref ref="MessageLogger" />
    </logger>
    <logger name="PackageCodeLogger">
      <level value="ALL" />
      <appender-ref ref="PackageCodeLogger" />
    </logger>
    <logger name="PartsLogger">
      <level value="ALL" />
      <appender-ref ref="PartsLogger" />
    </logger>
    <logger name="RepairOrderLogger">
      <level value="ALL" />
      <appender-ref ref="RepairOrderLogger" />
    </logger>
    <logger name="PriceLogger">
      <level value="ALL" />
      <appender-ref ref="PriceLogger" />
    </logger>
    <logger name="PrintLogger">
      <level value="ALL" />
      <appender-ref ref="PrintLogger" />
    </logger>
  </log4net>
</configuration>