<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WA.v2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WA.v2.Properties.Settings>
            <setting name="WA_v2_WS_Employee_Employee" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/Employee.asmx</value>
            </setting>
            <setting name="WA_v2_WS_CustomerVehicle_CustomerVehicle" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/CustomerVehicle.asmx</value>
            </setting>
            <setting name="WA_v2_WS_Appointment_Appointment" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/Appointment.asmx</value>
            </setting>
            <setting name="WA_v2_WS_RepairOrder_RepairOrder" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/RepairOrder.asmx</value>
            </setting>
            <setting name="WA_v2_WS_Job_Job" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/Job.asmx</value>
            </setting>
            <setting name="WA_v2_WS_PackageCode_PackageCode" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/PackageCode.asmx</value>
            </setting>
            <setting name="WA_v2_WS_OPCode_OPCode" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/OPCode.asmx</value>
            </setting>
            <setting name="WA_v2_WS_Parts_Parts" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/Parts.asmx</value>
            </setting>
            <setting name="WA_v2_WS_Message_Message" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/Common/Message.asmx</value>
            </setting>
            <setting name="WA_v2_WS_Price_Price" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/HMCIS/Price.asmx</value>
            </setting>
            <setting name="WA_v2_WS_Print_Print" serializeAs="String">
                <value>http://127.0.0.1:9099/v2/HMCIS/Print.asmx</value>
            </setting>
        </WA.v2.Properties.Settings>
    </applicationSettings>
</configuration>